.main-box {
    width: 400px;
    height: 500px;
    background-color: black;
    border-radius: 2em;
    color: white;
    text-align: center;
}
.title-name {
    display: inline-block;
    font-size: 30px;
    /* background-color: tomato; */
    margin-top: 40px;
}

.sub-name {
    /* background-color: teal; */
    margin-top: 20px;
    font-size: 15px;
}

.login-box {
    width: 350px;
    height: 150px;
    background-color: gray;
    border-radius: 2em;
    margin: 45px auto;
}

.login-form {
    padding: 42px 40px;
}

.id-box{
    display: block;
    width: 70%;
}
.pw-box{
    display: block;
    width: 70%;

}
.login-btn{
    display: block;
}
