html,body {
    width: 100%;
    height: 100%;
}
body {
    background-attachment: fixed;
}
.first_left_nav {
    background-color: antiquewhite;
    /* display: inline-block; */
    float: left;
    width: 100px;
    height: 100%;
}

.second_left_nav {
    background-color: beige;
    /* display: inline-block; */
    float: left;
    width: 20%;
    height: 100%;
}

.third_left_nav {
    background-color: rgb(145, 174, 122);
    float: left;
    width: 72%;
    height: 100%;
}
